.search(ng-show="challocked==true")
	.row
		.search1-input.col-xs-6
			div(
				editable-text="search1",
				e-typeahead="movie for movie in getMovieTypeahead($viewValue) | filter:{title:$viewValue} | limitTo:8",
				type='text',
				ng-change='change()',
				e-ng-change='fetch(1)',
				ng-model="search1",
				e-ng-blur="lockmovie1()",
				onaftersave="fetch(1); saveMovie(1)",
				tooltip="Type in the name of a movie and click away to lock",
				tooltip-placement="top",
				buttons="no"
				blur='submit'
				e-placeholder="Select Movie"
				) {{search1 || "Select Movie"}}
		//
			.input-group
				input.form-control(
					type='text', 
					ng-model='search1',
					ng-change='change()',
					ng-blur="saveMovie(1); lockmovie1();",
					placeholder='Enter full movie name',
					tooltip="Type in the name of a movie and click away to lock",
					tooltip-trigger="focus",
					tooltip-placement="top"
					)		
		.search2-input.col-xs-6
			div(
				editable-text="search2",
				e-typeahead="movie for movie in getMovieTypeahead($viewValue)",
				type='text',
				ng-model='search2',
				e-ng-change='fetch(2)',
				e-ng-blur="lockmovie2()",
				onaftersave="fetch(2); saveMovie(2)",
				tooltip="Type in the name of a movie and click away to lock",
				tooltip-placement="top",
				buttons="no"
				blur='submit'
				e-placeholder="Select Movie"	
				) {{search2 || "Select Movie"}}
		//
			.input-group
				input.form-control(
					type='text', 
					ng-model='search2', 
					ng-change='change()', 
					onclick='select()', 
					ng-blur="saveMovie(2); lockmovie2();",
					placeholder='Enter full movie name',
					tooltip="Type in the name of a movie and click away to lock",
					tooltip-trigger="focus",
					tooltip-placement="top"
					)
	br
	.row
		.col-xs-6
			.col-xs-12.commentinput(
				editable-text="precomment1"
				ng-show="movie1locked == true"
				ng-model='precomment1',
				placeholder='Comments', 
				autofocus='',
				onaftersave="postcomment(1);",
				tooltip="Tell them how you feel about having to watch {{search1}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom",
				buttons="no"
				blur='submit'
				e-placeholder="How do you feel about this film?"
				) {{precomment1 || "How do you feel about this film?"}}
		.col-xs-6
			.col-xs-12.commentinput(
				editable-text="precomment2"
				ng-show="movie2locked == true"
				ng-model='precomment2',
				placeholder='Comments', 
				autofocus='',
				onaftersave="postcomment(2);",
				tooltip="Tell them how you feel about having to watch {{search2}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom",
				buttons="no"
				blur='submit'
				e-placeholder="How do you feel about this film?"
				) {{precomment2 || "How do you feel about this film?"}}
challenge-posters		
