.search(ng-show="challocked==true")
	.row
		.search1-input.col-xs-6
			div(
				editable-text="challengeResults.search1",
				e-ng-model="challengeResults.search1",
				type='text',
				e-ng-change='searchMovies(1, $data);',
				e-ng-focus="isFocused(1);",
				ng-focus="isFocused(1);",
				ng-model="search1",
				e-ng-blur="lockmovie1();isFocused(1);",
				ng-blur="isFocused(1);",
				onaftersave="saveMovie(1);",
				tooltip="Type in the name of a movie and click away to lock",
				tooltip-placement="top",
				buttons="no"
				blur='submit'
				e-placeholder="Select Movie"
				) {{ challengeResults.search1 || "Select Movie"}}
		.search2-input.col-xs-6
			div(
				editable-text="challengeResults.search2",
				type='text',
				ng-model='challengeResults.search2',
				e-ng-change='searchMovies(2, $data)',
				ng-focus='isFocused(2);',
				e-ng-focus='isFocused(2);'
				ng-blur='isFocused(2);',
				e-ng-blur="isFocused(2);lockmovie2()",
				onaftersave="saveMovie(2)",
				tooltip="Type in the name of a movie and click away to lock",
				tooltip-placement="top",
				buttons="no"
				blur='submit'
				e-placeholder="Select Movie"	
				) {{ challengeResults.search2 || "Select Movie"}}
	br
	.row
		.col-xs-6
			.col-xs-12.commentinput(
				editable-text="precomment1"
				ng-show="movie1locked == true"
				ng-model='precomment1',
				placeholder='Comments', 
				autofocus='',
				onaftersave="postcomment(1);",
				tooltip="Tell them how you feel about having to watch {{search1}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom",
				buttons="no"
				blur='submit'
				e-placeholder="How do you feel about this film?"
				) {{precomment1 || "How do you feel about this film?"}}
		.col-xs-6
			.col-xs-12.commentinput(
				editable-text="precomment2"
				ng-show="movie2locked == true"
				ng-model='precomment2',
				placeholder='Comments', 
				autofocus='',
				onaftersave="postcomment(2);",
				tooltip="Tell them how you feel about having to watch {{search2}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom",
				buttons="no"
				blur='submit'
				e-placeholder="How do you feel about this film?"
				) {{precomment2 || "How do you feel about this film?"}}
challenge-posters		
