.search.row
	.row
		.searcherror(ng-show="searchError") Movie Not Found Please Try Again. #[span(class="errorClose pull-right" ng-click="closeSearchError()")#[i(class="fa fa-times")]]
	.row
		.search1-input.col-xs-6
			.movielocked(ng-show="locked") {{ search1 }}
			div(
				ng-show="!locked"
				editable-text="search1",
				e-ng-readonly="locked"
				e-ng-model="search1",
				type='text',
				e-ng-change="eUpdateModel('search1', $data); searchMovies(1, $data);",
				e-ng-focus="searchMovies(1, $data);isFocused(1);",
				ng-focus="isFocused(1);",
				ng-model="search1",
				onaftersave="isFocused(1);selectMovie(1, null, 'blur')",
				uib-tooltip="Type in the name of a movie and click away to lock",
				tooltip-placement="top",
				tooltip-trigger="none"
				tooltip-is-open="popoverOpen1"
				buttons="no"
				blur='submit'
				e-placeholder="Select Movie"
				) {{search1 || "Select Movie"}}
		.search2-input.col-xs-6
			.movielocked(ng-show="locked") {{ search2 }}
			div(
				ng-show="!locked"
				editable-text="search2",
				e-ng-readonly="locked",
				type='text',
				ng-model='search2',
				e-ng-change="eUpdateModel('search2', $data);searchMovies(2, $data);",
				ng-focus='isFocused(2);',
				e-ng-focus='searchMovies(2, $data);isFocused(2);',
				onaftersave="isFocused(2);selectMovie(2, null, 'blur')",
				uib-tooltip="Type in the name of a movie and click away to lock",
				tooltip-placement="top",
				popover-is-open="popoverOpen2"
				buttons="no"
				blur='submit'
				e-placeholder="Select Movie"	
				) {{search2 || "Select Movie"}}
	br
	.row
		.col-xs-6
			.col-xs-12.commentinput(
				editable-text="precomment1"
				ng-model='precomment1',
				placeholder='Comments', 
				autofocus='',
				onaftersave="postcomment(1);",
				uib-tooltip="Tell them how you feel about having to watch {{search1}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom",
				buttons="no"
				blur='submit'
				e-placeholder="How do you feel about this film?"
				) {{precomment1 || "How do you feel about this film?"}}
		.col-xs-6
			.col-xs-12.commentinput(
				editable-text="precomment2"
				ng-model='precomment2',
				placeholder='Comments', 
				autofocus='',
				onaftersave="postcomment(2);",
				uib-tooltip="Tell them how you feel about having to watch {{search2}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom",
				buttons="no"
				blur='submit'
				e-placeholder="How do you feel about this film?"
				) {{precomment2 || "How do you feel about this film?"}}
challenge-posters		
