.typeahead-search
	.typeahead-search-input.col-xs-6
		div(
			editable-text="searchText"
			e-typeahead="a for a in getMovieTypeahead($viewValue)"
			type='text'
			ng-model='searchText'
			placeholder='Typeahead test'
			)