new-challenge-button
.challenge
	.col-xs-3
	.col-xs-6.currentchallenge
		.col-xs-12
			span(ng-model='challenge') CHALLENGE: <br> <br>
		.col-xs-12.challengeinput(
				id='chalinput'
				tooltip="Create a challenge here to start!"
				tooltip-enable="true"
				tooltip-placement="left"
				editable-text="challengeinput.name"
				buttons="no"
				blur="submit"
				ng-click="unlockchal();"
				ng-blur="saveChallenge(); lockchal()"
				ng-model='challenge'
				) {{ challengeinput.name || empty }}
		.col-xs-12
			i.fa.fa-unlock-alt.fa-3x(
				id='submitchal'
				ng-href="#"
				ng-if="challocked==false;"
				ng-click="saveChallenge(); lockchal();")
			i.fa.fa-lock.fa-3x(
				ng-if="challocked==true;"
				)
	.col-xs-3
.search(ng-show="challocked==true")
	.row
		.col-xs-6
			.input-group
				input.form-control(
					type='text', 
					ng-model='search1',
					ng-change='change()',
					ng-blur="saveMovie(1); lockmovie1();  movieslocked();",
					placeholder='Enter full movie name',
					tooltip="Type in the name of a movie and click away to lock",
					tooltip-trigger="focus",
					tooltip-placement="top"
					)
		.col-xs-6
			.input-group
				input.form-control(
					type='text', 
					ng-model='search2', 
					ng-change='change()', 
					onclick='select()', 
					ng-blur="saveMovie(2); lockmovie2();  movieslocked();",
					placeholder='Enter full movie name',
					tooltip="Type in the name of a movie and click away to lock",
					tooltip-trigger="focus",
					tooltip-placement="top"
					)
	.row
		.col-xs-6
			.col-xs-12.commentinput(
				contenteditable="true",
				ng-show="movie1locked == true"
				ng-model='precomment1',
				placeholder='Comments', 
				autofocus='',
				ng-blur="postcomment(1);",
				tooltip="Tell them how you feel about having to watch {{search1}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom")
		.col-xs-6
			.col-xs-12.commentinput(
				contenteditable="true",
				ng-show="movie2locked == true"
				ng-model='precomment2',
				placeholder='Comments', 
				autofocus='',
				ng-blur="postcomment(2);",
				tooltip="Tell them how you feel about having to watch {{search2}}. Be Honest.",
				tooltip-trigger="focus",
				tooltip-placement="bottom")			
	challenge-posters
.aftermath(ng-show="challocked==true && movieslocked==true")
	.row
		.col-xs-1
			button.btn.btn-default(id='watched1' type='button' ng-click="showwatched1=true") Watched 
		.col-xs-5
			.input-group(ng-show='showwatched1 || postcomment1')
				input.form-control(
					type='text', 
					ng-model='postcomment1',
					placeholder='How was it?', 
					autofocus='',
					ng-blur="postcomment(3)",
					tooltip="Tell them how you felt about {{search1}}. Be Honest.",
					tooltip-trigger="focus",
					tooltip-placement="bottom")

		.col-xs-1
			button.btn.btn-default(id='watched1' type='button' ng-click="showwatched2=true") Watched 
		.col-xs-5			
			.input-group(ng-show='showwatched2 || postcomment2')
				input.form-control(
					type='text', 
					ng-model='postcomment2',
					placeholder='How was it?', 
					autofocus='',
					ng-blur="postcomment(4)"
					tooltip="Tell them how you felt about {{search2}}. Be Honest.",
					tooltip-trigger="focus",
					tooltip-placement="bottom")