extend layout
block header
	h1 
		a(ng-href="/" target="_self") Movie Battles
block challenge
	.col-xs-3
	.col-xs-6
		.input-group.ng-hide(ng-show='showinput')
			input.form-control(
				id='chalinput'
				type='text'
				ng-model='challenge'
				placeholder='Choose your challenge')
			span.input-group-btn
				button.btn.btn-default(id='submitchal' type='button' ng-click="saveChallenge(); showinput=false")
					span.glyphicon.glyphicon-lock

	//
		.search-bar.col-xs-9
				input.form-control(
				type='text'
				ng-model='challenge'
				placeholder='Choose your challenge')
		button#submitchallenge.btn.btn-default(type='button' ng-click="saveChallenge()") Save Challenge 
	.col-xs-3
	.col-xs-offset-3.col-xs-6.currentchallenge
		.col-xs-12
			span(ng-model='challenge') CHALLENGE: <br> <br> {{ challenge }}
	button.btn.btn-default(id='newchal' type='button' ng-click="showinput=true" style="float: right") Edit Challenge
block search
	.row
		.col-xs-6
			.input-group
				input.form-control(
					type='text', 
					ng-model='search1',
					ng-change='change()', 
					onclick='select()', 
					placeholder='Enter full movie name', 
					autofocus='')
				span.input-group-btn
					button#submit1.btn.btn-default(type='button' ng-click="saveMovie(1)")
						span.glyphicon.glyphicon-lock
		.col-xs-6
			.input-group
				span.input-group-btn
					button#submit2.btn.btn-default(type='button' ng-click="saveMovie(2)")
						span.glyphicon.glyphicon-lock
				input.form-control(type='text', 
					ng-model='search2', 
					ng-change='change()', 
					onclick='select()', 
					placeholder='Enter full movie name', 
					autofocus='')
		.col-xs-6
			.input-group
				input.form-control(
					type='text', 
					ng-model='precomment1',
					placeholder='How do you feel going into this movie?', 
					autofocus='')
				span.input-group-btn
					button.btn.btn-default(type='button' ng-click="postcomment()")
						span.glyphicon.glyphicon-lock
		.col-xs-6			
			.input-group
				span.input-group-btn
					button.btn.btn-default(type='button' ng-click="postcomment()")
						span.glyphicon.glyphicon-lock
				input.form-control(
					type='text', 
					ng-model='precomment2',
					placeholder='How do you feel going into this movie?', 
					autofocus='')



block results
	div(ng-if='!details' && '!details2')
		| Loading results...
	block 
		.poster.col-xs-6
			.image
				img(ng-src="{{ details1.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : 'http://imdb.wemakesites.net/api/1.0/img?url='+details1.Poster }}")
				.overlay
				.finished(ng-show="showwatched1  || postcomment1.length > 0")
					img(ng-src="images/checkmark.png")
				.text
					p Director: {{ details1.Director }}
					p Year: {{ details1.Year }}
					p Actors: {{ details1.Actors }}
					p Plot: {{ details1.Plot }}
		.poster.col-xs-6
			.image
				img(ng-src="{{ details2.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : 'http://imdb.wemakesites.net/api/1.0/img?url='+details2.Poster }}")
				.overlay
				.finished(ng-show="showwatched2  || postcomment2.length > 0")
					img(ng-src="images/checkmark.png")
				.text
					p Director: {{ details2.Director }}
					p Year: {{ details2.Year }}
					p Actors: {{ details2.Actors }}
					p Plot: {{ details2.Plot }}
block aftermath
	.row
		.col-xs-1
			button.btn.btn-default(id='watched1' type='button' ng-click="showwatched1=true") Watched 
		.col-xs-5
			.input-group(ng-show='showwatched1 || postcomment1.length > 0')
				input.form-control(
					type='text', 
					ng-model='postcomment1',
					placeholder='How was it?', 
					autofocus='')
				span.input-group-btn
					button.btn.btn-default(type='button' ng-click="postcomment()")
						span.glyphicon.glyphicon-lock
		.col-xs-1
			button.btn.btn-default(id='watched1' type='button' ng-click="showwatched2=true") Watched 
		.col-xs-5			
			.input-group(ng-show='showwatched2 || postcomment2.length > 0')
				input.form-control(
					type='text', 
					ng-model='postcomment2',
					placeholder='How was it?', 
					autofocus='')
				span.input-group-btn
					button.btn.btn-default(type='button' ng-click="postcomment()")
						span.glyphicon.glyphicon-lock

